# Problem 1
List Comprehensions

In [2]:
if __name__ == '__main__':
    x = int(input())
    y = int(input())
    z = int(input())
    n = int(input())
    coord = []
    for i in range(x+1):
        for j in range(y+1):
            for k in range(z+1):
                if i+j+k != n:
                    coord.append([i,j,k])
    print(coord)

1
1
1
2
[[0, 0, 0], [0, 0, 1], [0, 1, 0], [1, 0, 0], [1, 1, 1]]

# Problem 2
Find the runner-up

In [3]:
if __name__ == '__main__':
    n = int(input())
    arr = list(map(int, input().split()))
    max_value = max(arr)
    runner_up = -100000
    for i in range(n):
        if arr[i] > runner_up and arr[i] < max_value:
            runner_up = arr[i]
    print(runner_up)

5
2 3 6 6 5
5

# Problem 3
Nested Lists

In [10]:
if __name__ == '__main__':
    records = []
    for _ in range(int(input())):
        name = input()
        score = float(input())
        records.append([name, score])
    min = 10000000
    sec_min = 10000000
    for i in range(len(records)):
        if records[i][1] < min:
            min = records[i][1]
    for i in range(len(records)):
        if records[i][1] < sec_min and records[i][1] > min:
            sec_min = records[i][1]
    names = []
    for i in range(len(records)):
        if records[i][1] == sec_min:
            names.append(records[i][0])
    names.sort()
    for i in range(len(names)):
        print(names[i])

5
Harry
37.21
Berry
37.21
Tina
37.2
Akriti
41
Harsh
39
Berry
Harry

# Problem 4
Lists

In [12]:
if __name__ == '__main__':
    N = int(input())
    list_1 = []
    for i in range(N):
        str = input()
        command = str.split()[0]
        if command == 'insert':
            list_1.insert(int(str.split()[1]), int(str.split()[2]))
        elif command == 'print':
            print(list_1)
        elif command == 'remove':
            list_1.remove(int(str.split()[1]))
        elif command == 'append':
            list_1.append(int(str.split()[1]))
        elif command == 'sort':
            list_1.sort()
        elif command == 'pop':
            list_1.pop()
        elif command == 'reverse':
            list_1.reverse()
        else:
            print('Wrong command')

12
insert 0 5
insert 1 10
insert 0 6
print
[6, 5, 10]
remove 6
append 9
append 1
sort
print
[1, 5, 9, 10]
pop
reverse
print
[9, 5, 1]

# Problem 5
Finding the percentage

In [6]:
if __name__ == '__main__':
    n = int(input())
    student_marks = {}
    for _ in range(n):
        name, *line = input().split()
        scores = list(map(float, line))
        student_marks[name] = scores
    query_name = input()
    marks = student_marks[query_name]
    print("{:.2f}".format(sum(marks)/len(marks)))

3
Krishna 67 68 69
Arjun 70 98 63
Malika 52 56 60
Malika
56.00

# Problem 6
Tupples

In [20]:
if __name__ == '__main__':
    n = int(input())
    integer_list = map(int, input().split())
    t = tuple(integer_list)
    print(hash(t))

2
1 2
3713081631934410656

# Problem 7
Introduction to sets

In [21]:
def average(array):
    # your code goes here
    set_1 = set(array)
    avg = sum(set_1)/len(set_1)
    return avg

if __name__ == '__main__':
    n = int(input())
    arr = list(map(int, input().split()))
    result = average(arr)
    print(result)

10
161 182 161 154 176 170 167 171 170 174
169.375

# Problem 8
No ideaa!

In [26]:
str = input()
n = str.split()[0]
m = str.split()[1]
arr = list(map(int, input().split()))
A = set(map(int, input().split()))
B = set(map(int, input().split()))
happiness = 0
for i in arr:
    if i in A:
        happiness += 1
    elif i in B:
        happiness -= 1
print(happiness)

3 2
1 5 3
3 1
5 7
1

# Problem 9
Symmetric Difference

In [8]:
m = int(input())
a = list(map(int, input().split()))
a = set(a)
n = int(input())
b = list(map(int, input().split()))
b = set(b)

diff = sorted(sorted(a.difference(b)) + sorted(b.difference(a)))

for i in diff:
    print(i)

4
2 4 5 9
4
-2 4 11 12
-2
2
5
9
11
12

# Problem 10
Set .add()

In [11]:
n = int(input())
stamps = set()
for i in range(n):
    stamps.add(input())
print(len(stamps))

7
UK
France
USA
China
France
New Zealand
UK
5

# Problem 11
Set .discard(), .remove() & .pop()

In [13]:
n = int(input())
s = set(map(int, input().split()))
N = int(input())
for i in range(N):
    str = input()
    command = str.split()[0]
    if command == 'pop':
        s.pop()
    elif command == 'remove':
        if int(str.split()[1]) in s:
            s.remove(int(str.split()[1]))
        else:
            print(str.split()[1] + ' not present in the set')
    elif command == 'discard':
        s.discard(int(str.split()[1]))
    else:
        print('Wrong command')
print(sum(s))

9
1 2 3 4 5 6 7 8 9
10
pop
remove 9
discard 9
discard 8
remove 7
pop
discard 6
remove 5
pop
discard 5
4

# Problem 12
Set .union() operation

In [14]:
ne = int(input())
e = set(map(int, input().split()))
nf = int(input())
f = set(map(int, input().split()))

e_union_f = e | f
print(len(e_union_f))

9
1 2 3 4 5 6 7 8 9
9
10 1 2 3 11 21 55 6 8
13

# Problem 13
Set .intersection() operation

In [15]:
ne = int(input())
e = set(map(int, input().split()))
nf = int(input())
f = set(map(int, input().split()))

e_intersection_f = e & f
print(len(e_intersection_f))

9
1 2 3 4 5 6 7 8 9
9
10 1 2 3 11 21 55 6 8
5

# Problem 14
Set .difference() operation

In [16]:
ne = int(input())
e = set(map(int, input().split()))
nf = int(input())
f = set(map(int, input().split()))

e_difference_f = e - f
print(len(e_difference_f))

9
1 2 3 4 5 6 7 8 9
9
10 1 2 3 11 21 55 6 8
4

# Problem 15
Set .symmetric_difference() operation

In [17]:
ne = int(input())
e  = set(map(int, input().split()))
nf = int(input())
f = set(map(int, input().split()))

e_sym_diff_f = e ^ f
print(len(e_sym_diff_f))

9
1 2 3 4 5 6 7 8 9
9
10 1 2 3 11 21 55 6 8
8

# Problem 16
Set Mutations

In [19]:
n = int(input())
A = set(map(int, input().split()))
N = int(input())
for i in range(N):
    str = input()
    command = str.split()[0]
    B = set(map(int, input().split()))
    if command == 'intersection_update':
        A &= B
    elif command == 'update':
        A |= B
    elif command == 'symmetric_difference_update':
        A ^= B
    elif command == 'difference_update':
        A -= B
    else:
        print('Wrong command')
print(sum(A))

16
1 2 3 4 5 6 7 8 9 10 11 12 13 14 24 52
4
intersection_update 10
2 3 5 6 8 9 1 4 7 11
update 2
55 66
symmetric_difference_update 5
22 7 35 62 58
difference_update 7
11 22 35 55 58 62 66
38

# Problem 17
The Captain's Room

In [20]:
k = int(input())
rooms = list(map(int, input().split()))

captain = set()
groups = set()

for i in rooms:
    if i in captain:
        groups.add(i)
    else:
        captain.add(i)
print(captain.difference(groups).pop())

5
 1 2 3 6 5 4 4 2 5 3 6 1 6 5 3 2 4 1 2 5 1 4 3 6 8 4 3 1 5 6 2
8

# Problem 18
Check Subset

In [21]:
T = int(input())
for i in range(T):
    na = int(input())
    A = set(map(int, input().split()))
    nb = int(input())
    B = set(map(int, input().split()))
    if len(A & B) == len(A):
        print('True')
    else:
        print('False')
        
3
5
1 2 3 5 6
9
9 8 5 6 3 2 1 4 7
1
2
5
3 6 5 4 1
7
1 2 3 5 6 8 9
3
9 8 2

3
5
1 2 3 5 6
9
9 8 5 6 3 2 1 4 7
True
1
2
5
3 6 5 4 1
7
False
1 2 3 5 6 8 9
3
9 8 2
False

# Problem 19 
Check Strict Superset

In [22]:
A = set(map(int, input().split()))
n = int(input())

result = 0
for i in range(n):
    N = set(map(int, input().split()))
    if len(A.intersection(N)) != len(N) or len(A) <= len(N):
        result += 1
if result > 0:
    print('False')
else:
    print('True')

1 2 3 4 5 6 7 8 9 10 11 12 23 45 84 78
2
1 2 3 4 5
100 11 12
False