# Problem 1
Polar Coordinates

In [1]:
import cmath
comp = complex(input())
print(abs(comp))
print(cmath.phase(comp))

1+2j
2.23606797749979
1.1071487177940904

# Problem 2
Find Angle MBC

In [2]:
import math

AB = int(input())
BC = int(input())

degree_sign = u"\N{DEGREE SIGN}"

degree = round(math.degrees(math.atan(AB/BC)))

print(str(degree) + degree_sign)

10
10
45Â°

# Problem 3
Triangle Quest 2

In [17]:
for i in range(1, int(input())+1):
  print(((10**i)//9)**2)

5
1
121
12321
1234321
123454321

# Problem 4
Mod Divmod

In [18]:
a = int(input())
b = int(input())

print(a//b)
print(a%b)
print(divmod(a,b))

177
10
17
7
(17, 7)

# Problem 5
Power - Mod Power

In [19]:
a = int(input())
b = int(input())
m= int(input())

print(pow(a,b))
print(pow(a,b,m))

3
4
5
81
1

# Problem 6
Integers come in all sizes

In [20]:
a = int(input())
b = int(input())
c = int(input())
d = int(input())

print(str(a**b + c**d))

9
29
7
27
4710194409608608369201743232

# Problem 7
Triangle Quest

In [21]:
for i in range(1,int(input())): 
    print(((10**i)//9)*i)

5
1
22
333
4444